.deleteoverlay{
position: fixed;
top:0;
left:0;
right:0;
bottom:0;
background: rgba(0, 0, 0, 0.7); 
z-index: 900;
}

.deletecontent {
    position:fixed;
    top:20%;
    left:35%;
    transform:'translate(-50%,-50%)';
    background-color:white;
    width:30%;
    height:35%;
    padding:20px;
    border-radius: 10px;
    z-index: 1000;
}


.delete_paragraph {
    font-size: 30px;
    color: rgb(220, 15, 15);
}

.text_paragraph {
    font-size: 20px;
    color: red;
}
.confirm_button_div {
    display: flex;
    justify-content: space-around;
}
    

.button_confirm {
    padding:8px 24px;
    background-color: rgb(194, 25, 37);
    border-radius: 4px;
    color: white;
}
.button_cancel {
    border:solid 2px;
    border-color: #0086d6;
    padding:8px 24px;
    background-color: white;
    border-radius: 4px;
    font-size: 15px;
    color:#0086d6;
}